In [497]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

District Summary
necessary calculations:

Total number of unique schools
Total students
Total budget
Average math score
Average reading score
% passing math (the percentage of students who passed math)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed math AND reading)
high-level snapshot of the district's key metrics in a DataFrame.

In [498]:
# Calculate the total number of unique schools
unique_school_list = school_data_complete["school_name"].unique()
school_count = len(unique_school_list)
school_count

15

In [499]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [500]:
# Calculate the total budget
# for sum of all values in column "budget": total_budget = school_data_complete["budget"].sum()
# for sum of unique budget values:
total_budget_unique = school_data_complete["budget"].unique()
total_budget = total_budget_unique.sum()
total_budget

24649428

In [501]:
# Calculate the average (mean) math score
# with unique values
unique_average_math_score = school_data_complete["math_score"].unique()
unique_average_math_score = unique_average_math_score.mean()
unique_average_math_score
# with all values
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [502]:
# Calculate the average (mean) reading score

# with unique values
unique_average_reading_score = school_data_complete["reading_score"].unique()
unique_average_reading_score = unique_average_reading_score.mean()
unique_average_reading_score
# with all values
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [503]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [504]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [505]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [506]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

dict = {'Total Schools': school_count, 'Total Students': student_count, 'Total Budget': total_budget, 'Average Math Score': average_math_score, 'Average Reading Score': average_reading_score, '% Passing Math': passing_math_percentage, '% Passing Reading': passing_reading_percentage, '% Overall Passing': overall_passing_rate} 
district_summary = pd.DataFrame(dict, index=([0]))

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,.1f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,.2f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.3f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.4f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.7f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.8f}".format)

# add title 'DISTRICT SUMMARY' to df
district_summary = district_summary.style.set_caption('DISTRICT SUMMARY')

# Display the DataFrame
district_summary

## School Summary

School Summary
necessary calculations:

School name
School type
Total students
Total school budget
Per student budget
Average math score
Average reading score
% passing math (the percentage of students who passed math)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed math AND reading) 
DataFrame that summarizes key metrics about each school.

In [507]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## THIS CELL IS FOR PERSONAL VALIDATION. WORK SHOWN FOR GRADER COMP. ##


# school name list calculated from "district summary" section with district_summary df
# unique_school_list = school_data_complete["school_name"].unique()
unique_school_list

# school name lost calculated for "school summary" section with school_data df
school_names = school_data["school_name"].unique()
school_names

# verify if unique_school_list == school_names... if true, can use school data in this context
if unique_school_list.all() == school_names.all():
    print('same')
    # output is "same"... can use either variable/calc for unique school names. will use original for brevity

# Display/calculate all unique school names
unique_school_list
# OUTPUT: array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [508]:
# Create a copy of the original school_data DataFrame to add new info collected to a df for callback
school_data_expanded = school_data.copy()

In [509]:
# Use the code provided to select all of the school types
school_types = school_data["type"].unique()
types = school_data["type"]

In [510]:
# Calculate the total student count per school
per_school_counts = school_data["size"]

In [511]:
# Calculate the total school budget and per capita spending per school
# school budget
per_school_budget = school_data["budget"]

# per capita spending per school
# per_school_capita = per_school_budget/per_school_counts & add values for "per_school_capita" to expanded school data df
per_school_capita = school_data_expanded["budget"] / school_data_expanded["size"]
school_data_expanded["School Capita"] = per_school_capita

# Convert "Total School Budget" column to float
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].astype(float)

## OR... WITH A FOR LOOP...

# per_school_capita = [] ##create empty list
# for i in range(len(per_school_budget)):
    # per_school_capita.append(per_school_budget[i]/per_school_counts[i])

# school_data_expanded["School Capita"] = per_school_capita ## add values for "per_school_capita" to expanded school data df

In [512]:
# Calculate the average test scores per school

# Create empty lists to store calculated values
per_school_math = []
per_school_reading = []

# Iterate through each school
for school in school_data_complete["school_name"].unique():
    # Filter rows for the current school
    school_data_subset = school_data_complete[school_data_complete["school_name"] == school]
    
    # Calculate average math and reading scores for the current school
    average_math_score = school_data_subset["math_score"].mean()
    average_reading_score = school_data_subset["reading_score"].mean()

    # Append calculated values to the lists
    per_school_math.append(average_math_score)
    per_school_reading.append(average_reading_score)

# Add new columns to school_data_expanded with the calculated values
school_data_expanded["Per School Av. Math Score"] = per_school_math
school_data_expanded["Per School Av. Reading Score"] = per_school_reading

In [513]:
# Calculate the %passing math %passing reading % overall passing

# Create empty lists to store calculated values
per_school_percent_passing_math = []
per_school_percent_passing_reading = []
per_school_percent_passing_overall = []

# Iterate through each school
for school in school_data_complete["school_name"].unique():
    # Filter rows for the current school
    school_data_subset = school_data_complete[school_data_complete["school_name"] == school]
    
    # Calculate %passing math %passing reading % overall passing for the current school
    percent_passing_math = ((school_data_subset[(school_data_subset["math_score"]>= 70)]["student_name"].count()) / school_data_subset["size"].unique()) * 100
    percent_passing_reading = ((school_data_subset[(school_data_subset["reading_score"]>= 70)]["student_name"].count()) / school_data_subset["size"].unique()) * 100
    percent_passing_both = ((school_data_subset[(school_data_subset["math_score"]>= 70) & (school_data_subset["reading_score"]>= 70)]["student_name"].count()) / school_data_subset["size"].unique()) * 100

    # Append calculated values to the lists
    per_school_percent_passing_math.append(percent_passing_math[0])
    per_school_percent_passing_reading.append(percent_passing_reading[0])
    per_school_percent_passing_overall.append(percent_passing_both[0])


# Add new columns to school_data_expanded with the calculated values
school_data_expanded["% Passing Math"] = per_school_percent_passing_math
school_data_expanded["% Passing Reading"] = per_school_percent_passing_reading
school_data_expanded["% Passing Overall"] = per_school_percent_passing_overall

school_data_expanded

,School ID,school_name,type,size,budget,School Capita,Per School Av. Math Score,Per School Av. Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
1,1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
3,3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
7,7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
8,8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
9,9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
11,11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
12,12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
13,13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
14,14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [514]:
# Calculate the number of schools with math scores of 70 or higher (2 points)
schools_passing_math_count = school_data_expanded['Per School Av. Math Score'].count()
schools_passing_math_count = school_data_expanded[(school_data_expanded['Per School Av. Math Score'] >= 70)]["school_name"].count()

# Calculate the number of schools with reading scores of 70 or higher (2 points)
schools_passing_reading_count = school_data_expanded['Per School Av. Reading Score'].count()
schools_passing_reading_count = school_data_expanded[(school_data_expanded['Per School Av. Reading Score'] >= 70)]["school_name"].count()

# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher (2 points)
schools_passing_math_and_reading = school_data_expanded[(school_data_expanded['Per School Av. Math Score'] >= 70) & (school_data_expanded['Per School Av. Reading Score'] >= 70)]["school_name"] # in a list

In [523]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

# name lists
types
per_school_counts 
per_school_budget 
per_school_capita 
per_school_math 
per_school_reading 
per_school_percent_passing_math
per_school_percent_passing_reading
per_school_percent_passing_overall 

school_names

dict_per_school_summary = {'School Type': types, 'Total Students': per_school_counts, 'Total School Budget': per_school_budget, 'Per Student Budget': per_school_capita, 'Average Math Score': per_school_math, 'Average Reading Score': per_school_reading, '% Passing Math': per_school_percent_passing_math, '% Passing Reading': per_school_percent_passing_reading, '% Overall Passing': per_school_percent_passing_overall}
per_school_summary = pd.DataFrame(dict_per_school_summary, index = range(15))

# Set the index to school names
per_school_summary.set_index(school_data["school_name"], inplace=True)

# Rename the index column
per_school_summary = per_school_summary.rename_axis(None)


# Formatting
#per_school_summary["School Type"] = per_school_summary["School Type"].map("{:,.1f}".format)
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.2f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.3f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.4f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.5f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.6f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.7f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.8f}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.9f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,District,"2,917.00","$1,910,635.000",$655.0000,76.62941,81.182722,65.6839218,81.31642098,53.513884128
Figueroa High School,District,"2,949.00","$1,884,411.000",$639.0000,76.71177,81.158020,65.9884707,80.73923364,53.204476094
Shelton High School,Charter,"1,761.00","$1,056,600.000",$600.0000,83.35945,83.725724,93.8671210,95.85462805,89.892106758
Hernandez High School,District,"4,635.00","$3,022,020.000",$652.0000,77.28975,80.934412,66.7529666,80.86299892,53.527508091
Griffin High School,Charter,"1,468.00","$917,500.000",$625.0000,83.35150,83.816757,93.3923706,97.13896458,90.599455041
Wilson High School,Charter,"2,283.00","$1,319,574.000",$578.0000,83.27420,83.989488,93.8677179,96.53964082,90.582566798
Cabrera High School,Charter,"1,858.00","$1,081,356.000",$582.0000,83.06189,83.975780,94.1334769,97.03982777,91.334768568
Bailey High School,District,"4,976.00","$3,124,928.000",$628.0000,77.04843,81.033963,66.6800643,81.93327974,54.642282958
Holden High School,Charter,427.00,"$248,087.000",$581.0000,83.80328,83.814988,92.5058548,96.25292740,89.227166276
Pena High School,Charter,962.00,"$585,858.000",$609.0000,83.83992,84.044699,94.5945946,95.94594595,90.540540541
Wright High School,Charter,"1,800.00","$1,049,400.000",$583.0000,83.68222,83.955000,93.3333333,96.61111111,90.333333333
Rodriguez High School,District,"3,999.00","$2,547,363.000",$637.0000,76.84271,80.744686,66.3665916,80.22005501,52.988247062
Johnson High School,District,"4,761.00","$3,094,650.000",$650.0000,77.07246,80.966394,66.0575509,81.22243226,53.539172443
Ford High School,District,"2,739.00","$1,763,916.000",$644.0000,77.10259,80.746258,68.3096020,79.29901424,54.289886820
Thomas High School,Charter,"1,635.00","$1,043,130.000",$638.0000,83.41835,83.848930,93.2721713,97.30886850,90.948012232

## Highest-Performing Schools (by % Overall Passing)

In [524]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858.00","$1,081,356.000",$582.0000,83.06189,83.975780,94.1334769,97.03982777,91.334768568
Thomas High School,Charter,"1,635.00","$1,043,130.000",$638.0000,83.41835,83.848930,93.2721713,97.30886850,90.948012232
Griffin High School,Charter,"1,468.00","$917,500.000",$625.0000,83.35150,83.816757,93.3923706,97.13896458,90.599455041
Wilson High School,Charter,"2,283.00","$1,319,574.000",$578.0000,83.27420,83.989488,93.8677179,96.53964082,90.582566798
Pena High School,Charter,962.00,"$585,858.000",$609.0000,83.83992,84.044699,94.5945946,95.94594595,90.540540541

## Bottom Performing Schools (By % Overall Passing)

In [527]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999.00","$2,547,363.000",$637.0000,76.84271,80.744686,66.3665916,80.22005501,52.988247062
Figueroa High School,District,"2,949.00","$1,884,411.000",$639.0000,76.71177,81.158020,65.9884707,80.73923364,53.204476094
Huang High School,District,"2,917.00","$1,910,635.000",$655.0000,76.62941,81.182722,65.6839218,81.31642098,53.513884128
Hernandez High School,District,"4,635.00","$3,022,020.000",$652.0000,77.28975,80.934412,66.7529666,80.86299892,53.527508091
Johnson High School,District,"4,761.00","$3,094,650.000",$650.0000,77.07246,80.966394,66.0575509,81.22243226,53.539172443

## Math Scores by Grade

In [528]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores By Grade

In [529]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [539]:
import warnings

# Suppress FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

# Convert "Per Student Budget" to numeric
school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"], errors='coerce')

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

# Calculate the averages
spending_math_scores = school_spending_df.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby("Spending Ranges (Per Student)")["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby("Spending Ranges (Per Student)")["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby("Spending Ranges (Per Student)")["% Overall Passing"].mean()

# Create the spending_summary DataFrame using the binned and averaged spending data
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores, "% Passing Math": spending_passing_math, "% Passing Reading": spending_passing_reading, "% Overall Passing": overall_passing_spending})

# Display the spending_summary DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,NaN,NaN,NaN,NaN,NaN
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [547]:
# incomplete
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Convert "Average Reading Score" to numeric
per_school_summary["Average Reading Score"] = pd.to_numeric(per_school_summary["Average Reading Score"], errors='coerce')

# Group by school size and calculate averages
size_math_scores = per_school_summary.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby("School Size")["% Overall Passing"].mean()

# Create a DataFrame for the scores by school size
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the DataFrame
size_summary

TypeError: agg function failed [how->mean,dtype->object]

In [548]:
# incomplete
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

## Scores by School Type

In [549]:
# incomplete
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()

# Convert "% Passing Math" to numeric
per_school_summary["% Passing Math"] = pd.to_numeric(per_school_summary["% Passing Math"], errors='coerce')

average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display results
type_summary

TypeError: agg function failed [how->mean,dtype->object]

In [550]:
# incomplete
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display results
type_summary

TypeError: agg function failed [how->mean,dtype->object]

# LOGIC VALIDATION FOR SETUP IN TEST SCORE CALC ABOVE
average_math_score_Huang = school_data_complete[(school_data_complete["school_name"] == 'Huang High School')]["math_score"].mean()
average_math_score_Huang

output = 76.62941378128214 #yes